<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.bamboo.mapper.FreeTalkCommentMapper">
	<select id="getList" resultType="com.bamboo.domain.FreeTalk.FreeTalkComment_VO">
		SELECT * FROM FreeTalk_Comment
		WHERE f_bid = #{p_bid}
	</select>
	
	<select id="getRead" resultType="com.bamboo.domain.FreeTalk.FreeTalkComment_VO">
		SELECT * FROM FreeTalk_Comment
		WHERE p_cid = #{p_cid}
	</select>
	
	<insert id="write" keyProperty="p_cid" useGeneratedKeys="true">
		INSERT INTO FreeTalk_Comment (f_bid, f_uid, content, writer)
		values (#{f_bid}, #{f_uid}, #{content}, #{writer})
	</insert>
	
	<update id="update"></update>
	<delete id="delete"></delete>

</mapper>